<h1>Welcome, <%= @user.name %>.</h1>

<!-- individual users profile page, shows past workouts completed with scores -->

<h3>Your Workouts</h3>
<ul>
<% @user.workouts.each do |w| %>
    <li><%= w.title %> - <%= w.format_date %>
        <!--retrieve score from reservations if score is present
        if not present and workout already happened, display a message with a link to add a score -->
    </li>
<% end %>
</ul>

<%= link_to "Reserve a Workout", new_user_reservation_path(@user) %><br>
<%= link_to "Edit Profile", edit_user_path(@user) %><br>
<%= button_to "Log Out", logout_path %> <!-- move to page header -->