<% if @user.first_name %>
    <h1>Welcome, <%= @user.first_name %>.</h1>
<% else %>
    <h1>Welcome.</h1>
<% end %>

<!-- individual users profile page, shows upcoming workouts -->

<h3>Your Upcoming Workouts</h3>
<ul>
<% @reservations.each do |r| %>
    <li>
    <%= r.workout.title %> - <%= r.workout.format_date %><br>
    <%= link_to "Change Reservation", edit_user_reservation_path(r.user, r) %><br>
    <%= link_to 'Cancel Reservation', r, method: :delete, data: { confirm: 'Cancel your reservation?' } %><br><br>
    </li>
<% end %>
</ul>
<br><br>
<%= link_to "Workout History", user_reservations_path(@user) %><br>
<%= link_to "Reserve a Workout", new_user_reservation_path(@user) %><br>
<%= link_to "Edit Profile", edit_user_path(@user) %>