<!DOCTYPE html>
<html>
  <head>
    <title>RailsWorkoutApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% flash[:errors].each do |e| %>
        <p><%= e %></p>
      <% end %>
    <% elsif flash[:success] %>
      <%= flash[:success] %>
    <% end %>

    <%= yield %>
    
    <% if User.find_by_id(session[:user_id]) %>
      <% @user = User.find_by_id(session[:user_id]) %>
      <br><br><%= link_to "Return to Home Page", user_path(@user) %><br>
      <%= button_to "Log Out", logout_path %>
    <% end %>
  </body>
</html>
